[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
m2r2 = "*"
mypy = "*"
sphinx = "*"

[packages]
easyjwt = "~=0.1"
flask = "~=1.0"
